body {
    font-family: "Merriweather", serif;
    width: 600px;
    margin: 40px auto;
}

blockquote {
    font-size:2em;
    line-height:1.5em ;
}

a:link {color: red;}
a:visited {color: green;}
a:hover, a:focus {color: grey}
a:active {color: black;}